<%- include('../layouts/header.ejs')%>
<%- include('../layouts/nav.ejs')%>
<%- include('../layouts/sidebar.ejs')%>


<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">


      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 posit00.   ion-relative mt-n4 mx-3 z-index-2">
              
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">User mangment</h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th >
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">NO
                        </th>
                       
                        <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        <% viewUser.forEach((x,index)=>{ %>
                      <tr>
                       <th scope="row"><%= index+1 %></th>
                       <td><%= x.name %></td>
                        
                      <td>
                        <% if(x.status==false) {%>
                          <p style="color:red">Blocked</p>
                         <%}else{%>
                             <p style="color:green">Active</p>
                             <%}%>
                         </td>
         
                         <td>
                          
    <a class="text-decoration-none text-white" href="/admin/usermangment/blockuser/<%=x._id %>">

<% if(x.status==false){ %>
    <button type="submit" class="btn btn-outline-warning">unblock</button>
      <% }else{ %> 
<button  class="btn btn-outline-primary">block</button>
     </a>
       
<% } %>
                         </td>
                       </tr>
         
                        <% });  %>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
     
<%- include('../layouts/footer.ejs')%>